/Data/Boston/CensusBlocks
/Data/DC/StreetLights
/Data/DC/Trees
/Data/LA/Crime
/Data/LA/StreetLights
/Data/LA/Trees
/Data/Philadelphia/Crime
/Data/Philadelphia/StreetLights
/Data/SF/Crime
/Data/SF/Trees